<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/main.css">
    <link rel="stylesheet" href="../../CSS/info.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='../main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-6 text-center box">
                <h1 class="TitleInfo">Here comes a dust storm</h1>
                <p class="infotxt">One of Eros' closest friends is Robert the rover. Robert helps him investigate the surface of Mars without having to leave home. Unfortunately today they have found themselves in quite a pickle. Eros forgot Robert outside and is now caught in a dangerous dust storm. Join Eros on this mission and help him save Robert!
                </p>   
            </div>
            <div class="col-5 text-center clearbox"> 
                <img id="MissionS" src="../../Resources/Images/dust.gif" alt="MissionA">    
                <br><br>
                <button class="gog gob" onclick="location.href='../missions/mission1.html';">GO!</button>
               
            </div>
        </div>
    </div>


</body>

</html>