body{
    background-color: 22405B;
}

.box{
    background-color: 22639D;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.boxtit{
    text-align: center;
    width: auto;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.gob{
    background-color: 38B6FF;
    margin:10px;
    border-radius: 24px;
    border: none;
    padding: 5px 30%;
    font-size: 26px;
    font-family: Helvetica, sans-serif;
    color: white;
}
.gob:hover{
    cursor: pointer;
    color: white;
    padding: 7px 35%;
}

.arr:hover {
    opacity=1;
}