<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='../main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">Satellites vol. I: Orbit</h1>
                <p class="infotxt">A satellite is an object that moves around a larger object. Artificial satellites are machines made by people. These machines are launched into space and orbit the Earth or another celestial body. Satellites come in many shapes and sizes, but most have at least two parts in common: an antenna and a power supply. The antenna is used to send and receive information. The power source can be a solar panel or a battery. 

                    <br>An example of a satellite is NASA's multipurpose spacecraft, called the Mars Reconnaissance Orbiter. It was launched to advance our understanding of Mars through detailed observation, to examine potential landing sites for future surface missions, and to provide a high-data-rate communications relay for those missions. Scientists will use the spacecraft to study the surface, monitor the atmosphere, and probe underground, all to gain a better understanding of the distribution and history of Mars' water, be it frozen, liquid, or vapor.
                    
                    <br>To maintain communication with the Earth, satellites travel at exactly the same speed and are always located at the same point in the sky. However, it is necessary to modify the orbit from time to time so that the satellite does not go out of orbit and, consequently, rendered useless as communication becomes impossible. A thruster is used for this correction operation, but it takes up a lot of the satellite’s fuel. Unfortunately, in the case of satellites, it is not possible to return to Earth to refuel, as opposed to cars and airplanes which can easily do so.
                    
                    <br>To solve this problem, companies around the world are looking for ways to refuel satellites directly in space, the propellant problem can be solved to some extent by the use of energy and solar panels, but satellites sometimes block the Sun from the Earth and therefore would not work either. 
                    
                    <br>Think of an alternative method of fueling in space, how will this method solve the problem? Is it just science fiction or a real technology to develop now?
                    </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob" onclick="location.href='../forums/Forum4.html';">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/MRO.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>