<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='../main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">DSOC (Deep Space Optical Communications)</h1>
                <p class="infotxt">Communication between space and Earth employs novel and advanced lasers in the near-infrared region of the electromagnetic spectrum. The unprecedented development and implementation of optical communication technologies developed for the project include: low-mass spacecraft, disturbance isolation and pointing assembly, a high-efficiency flight laser transmitter and a pair of high-efficiency photon counting detector arrays for the flight optical transceivers and the ground-based receiver. Both of which enable photon-efficient communication with the ability to distinguish weak laser signals from background noise.



                    <br>Every two years the Sun stays between the Earth and Mars for two weeks, at that time communication is deemed impossible, so while the technology mentioned above may seem attractive and efficient, it has not yet been implemented and is still being developed in laboratories.
                    
                    <br>Do you think this technology would change that situation? Why?
                    </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/DSOC.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>