<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">DSN (deep space network) </h1>
                <p class="infotxt">The Deep Space Network or DSN is the world's largest and most sensitive scientific telecommunications system. It consists of three facilities equipped with high-tech antennas strategically located in Goldstone, Madrid and Canberra. This  placement allows constant links to distant spacecraft even as the Earth rotates on its own axis.

                    <br>The antennas receive data and transmit commands. To listen to the weak signals from the spacecraft, they are equipped with high-tech amplifiers, but unfortunately, there are a few issues regarding their functionality. First off, the signal becomes downgraded by background radio noise or static emitted naturally by the rest of the matter in the universe. This noise is further amplified by the signal. The second mishap is that the powerful electronic equipment used for amplification adds noise on its own.

                    <br>Nowadays, the solution uses highly sophisticated technology, including cooling the amplifiers to a few degrees above absolute zero, and special techniques are used to encode signals so that the receiving system can distinguish the signal from background noise.

                    <br>What do you have in mind to solve these issues?

                </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/mars.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>