<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">Satellites vol. II: Heat</h1>
                <p class="infotxt">Communication satellites that always operate at full capacity have an overheating problem. Because there is no air in orbital space, the fans that are used to cool the computer on the ground are useless. In space, the temperature is lower than on the surface of the Earth, but in fact, heat dissipation is a more difficult problem than on the ground. Spaceships and satellites use large radiators to prevent overheating. The stronger the satellite, the larger the radiator needed to cool it. The radiators developed to cool a new generation of 25 kW communication satellites were gigantic, measuring 4 x 1 m.

                    <br>Suppose you are a very experienced engineer who needs to come up with a solution for this problem, what would you do to prevent the satellites from overheating?
                    

                </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/mars.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>