<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">Hostile environment</h1>
                <p class="infotxt">Also known as "the red planet", Mars is the fourth planet from the Sun. It is a dusty, cold and desert world with a very thin atmosphere. This dynamic planet has seasons, polar ice caps, canyons, extinct volcanoes, and evidence that it was even more active in the past. 
                    <br>Days on Mars are longer than those here on Earth, taking a little more than 24 hours, while a full year can take up to 687 Earth days. Temperatures on the Martian surface rise to 20 ° C and drop to -153 ° C. From time to time, the wind on Mars is strong enough to create dust storms that cover much of the planet’s surface for long periods of time. Two of the problems rovers face when studying Mars are that circuits can freeze due to low temperatures and if a rover gets caught in a dust storm it can shut down due to inactivity because it cannot charge its solar energy panels.
                    
                    <br>Unfortunately, so far there are no effective methods to avoid these situations. Imagine that you are exploring Mars with a rover, what tools do you think are essential for your survival in such adverse conditions?
                    

                </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/mars.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>