<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/nav2.css">
    <link rel="stylesheet" href="../../CSS/info.css">
    <link rel="stylesheet" href="../../CSS/main.css">

    <script src="../../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../../Resources/Images/home.png" alt="Home Icon" onclick="location.href='../main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col-7 text-center box">
                <h1 class="TitleInfo">inSight</h1>
                <p class="infotxt">As with previous Mars landers and rovers, the InSight mission relies on Mars-orbiting spacecraft to relay data from the spacecraft to the antennae of the Deep Space Network. There are two ways to communicate with the Earth, one of them is through the RISE antenna, and the other one is through the UHF antenna. 

                    <br>The rotation and interior structure experiment (RISE) works like a mirror and studies mars reflexes. Its antenna sends back signals sent from Earth to the lander. On Earth, the signal helps track the location of the lander to within centimeters. RISE tracks the lander's location over the entire mission to detect tiny changes in Mars wobble as it orbits the Sun.  These observations help determine whether the core is liquid, and which other elements, besides iron, may be present. 
                    
                    <br>UHF antenna: the lander has a helical “UHF antenna” that talks to Earth via Mars orbiters. Mars Recognition Orbiters (MRO) and the Mars Odyssey Orbiter are inSight’s primary relay orbiters; they pass in the sky over inSight twice per martian day. NASA’s Mars Atmosphere and Volatile Evolution (MAVEN) orbiter and the European Space Agency trace gas orbiter and Mars express, are available as backup to help InSight communicate with Earth in case MRO and Odyssey are not available. 
                    
                   <br>What do you think are the communication limitations? How would you solve it?
                    </p>   
            </div>
            <div class="col-4 text-center clearbox"> 
                <button class="gob" onclick="location.href='../forums/Forum6.html';">FORUM</button>
                <br><br>
                <img id="MissionS" src="../../Resources/Images/InSight.jpg" alt="MissionA">    
            </div>
        </div>
    </div>


</body>

</html>