<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/nav2.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/sources.css">

    <script src="../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>

        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../Resources/Images/home.png" alt="Home Icon" onclick="location.href='main.html';">
        </div>

      </nav>


      <br>

      <div class="bod text-center box">
        <h1 class="TitleInfo">Adults’ Forum</h1>
        <br>
        <div class="row">
            <div class="col text-center box linktit" onclick="location.href='../Templates/forums/forum1.html';">
                <div class="infotxt col"> <h2 class="text-center" onclick="location.href='../Templates/forums/forum1.html';" >DSN (Deep Space Network)</h2></div>
                <img src="../Resources/Images/DSN.jpg" width="100%"></img>
            </div>
            <div class="col text-center box linktit" onclick="location.href='../Templates/forums/forum2.html';">
                <div class="infotxt col"> <h2 class="text-center" onclick="location.href='../Templates/forums/forum2.html';">DSOC (Deep Space Optical Communications)</h2></div>
                <img src="../Resources/Images/DSOC.jpg" width="100%"></img>
            </div>
        </div>
        <div class="row">
            <div class="col text-center box linktit" onclick="location.href='../Templates/forums/forum3.html';">
                <div class="infotxt col"> <h2 class="text-center" onclick="location.href='../Templates/forums/forum3.html';">Hostile environment</h2></div>
                <img src="../Resources/Images/Duststorm.jpg" width="100%"></img>
            </div>
            <div class="col text-center box  linktit" onclick="location.href='../Templates/forums/forum6.html';">
                <div class="infotxt col"> <h2  class="text-center" onclick="location.href='../Templates/forums/forum6.html';">inSight</h2></div>
                <img src="../Resources/Images/InSight.jpg" width="100%"></img>
            </div>
            <div class="row">
                <div class="col text-center box linktit" onclick="location.href='../Templates/forums/forum4.html';">
                    <div class="infotxt col"> <h2 class="text-center" onclick="location.href='../Templates/forums/forum4.html';">Satellites vol. I: Orbit</h2></div>
                    <img src="../Resources/Images/MRO.jpg" width="100%"></img>
                </div>
                <div class="col text-center box  linktit" onclick="location.href='../Templates/forums/forum5.html';">
                    <div class="infotxt col"> <h2  class="text-center" onclick="location.href='../Templates/forums/forum5.html';">Satellites vol. II: Heat</h2></div>
                    <img src="../Resources/Images/odyseey.jpg" width="100%"></img>
                </div>
            </div>
        </div>


    </div>


</body>

</html>
