<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/nav2.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/sources.css">

    <script src="../../Dynamic/JS/Libraries/jquery-3.4.1.min.js"></script>
    <script src="../../Dynamic/JS/Libraries/bootstrap.min.js"></script>
    <script src="../../Dynamic/info.js"></script>

    <title>Main menu</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../Resources/Images/Logo.jpeg" alt="ARES Logo"></a>
      
        <div class="ml-auto collapse navbar-collapse">
            <div id="search_bar">
                <form class="form-inline">
                <input id="search_form" class="form-control mr-sm-2 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><img id="search_icon"src="../Resources/Images/Search_icon.png" alt="Search Icon"></button>
              </form>
            </div>
        </div>
        <div  class="">
            <img id="home_icon" src="../Resources/Images/home.png" alt="Home Icon" onclick="location.href='main.html';">
        </div>

      </nav>


      <br>

      <div class="bod">
        <div class="row">
            <div class="col text-center box">
                <h1 class="TitleInfo">Sources</h1>
                <p class="infotxt"> <h2>Here comes a dust storm & Hostile environment</h2>
                    <h3>Sources:</h3>
                    <ul>
                        <li>https://mars.nasa.gov/#red_planet/2</li>
                        <li>https://solarsystem.nasa.gov/planets/mars/overview/</li>
                        <li>https://mars.nasa.gov/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/</li>
                        <li>https://solarsystem.nasa.gov/planets/mars/in-depth/</li>
                    </ul>
                    <h3>Images:</h3>
                    <ul>
                        <li>https://mars.nasa.gov/mer/mission/rover-status/#recent</li>
                    </ul>
                    
                    
                    <br>
                    <h2>On time & Satellites Vol I. Orbit</h2>
                    <h3>Sources:</h3>
                    <ul>
                        <li>https://mars.nasa.gov/files/mro/MRO-060303.pdf</li>
                        <li>https://mars.nasa.gov/mars-exploration/missions/mars-reconnaissance-orbiter/</li>
                        <li>https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-a-satellite-k4.html</li>
                        <li>https://global.jaxa.jp/activity/pr/brochure/files/sat42.pdf</li>
                    </ul>
                    <h3>Images:</h3>
                    <ul>
                        <li>https://mars.nasa.gov/resources/865/mro-artist-concept/</li>
                        <li>https://mars.nasa.gov/resources/25207/hirises-mars-collage/</li>
                    </ul>
                    
                    <br>
                    
                    
                    <h2>Is it getting warm in here? & Satellites Vol. II Heat</h2>
                    <h3>Sources:</h3>
                    <ul>
                        <li>
                            https://mars.nasa.gov/odyssey/files/odyssey/Odyssey0302.pdf
                        </li>
                        <li>
                            https://mars.nasa.gov/mars-exploration/missions/odyssey/
                        </li>
                        <li>
                            https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-a-satellite-k4.html
                        </li>
                        <li>
                            https://global.jaxa.jp/activity/pr/brochure/files/sat42.pdf
                        </li>
                    </ul>
                    
                    <h3>Images:</h3>
                    <ul>
                        <li>
                            https://mars.nasa.gov/mars-exploration/missions/odyssey/
                        </li>
                    </ul>
                    <br>
                    <h2>Talkative antennae & DSN (Deep Space Network)</h2>
                    <h3>Sources:</h3>
                    <ul>
                        <li>
                            https://www.nasa.gov/directorates/heo/scan/services/networks/deep_space_network/about
                        </li>
                        <li>
                            https://mars.nasa.gov/insight/mission/communications/
                        </li>
                    </ul>
                    <h3>Images:</h3>
                    <ul>
                        <li>
                            https://www.nasa.gov/sites/default/files/thumbnails/image/img_1937_8_9_tonemapped.jpg
                        </li>
                    </ul>

                    <h2>DSOC (Deep Space Optical Communication)</h2>
                    <h3>Sources and Images:</h3>
                    <ul>
                        <li>
                            https://www.nasa.gov/mission_pages/tdm/dsoc/index.html
                        </li>
                    </ul>

                    <br>
                    <h2>inSight</h2>
                    <h3>Sources:</h3>
                    <ul>
                        <li>
                            https://eyes.nasa.gov/
                        </li>
                        <li>
                            https://eyes.jpl.nasa.gov/apps/experience-insight/InSight.html
                        </li>
                    </ul>
                    
                    <h3>Images:</h3>
                    <ul>
                        <li>
                            https://mars.nasa.gov/news/8744/nasa-engineers-checking-insights-weather-sensors/?site=insight
                        </li>
                    </ul>
                    
                    
                    </p>   

                    <br>
                    <h2>Extra Images</h2>
                    <ul>
                        <li>
                            https://mars.nasa.gov/internal_resources/647/
                        </li>
                        <li>https://mars.nasa.gov/resources/4565/focusing-the-100-millimeter-mastcam/</li>
                    </ul>
            </div>

        </div>
    </div>


</body>

</html>